<?xml version="1.0" encoding="UTF-8"?>
<!--
plugin videoproc.
-->

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-videoproc"
    version="1.0.0">
    <name>videoproc</name>
    <description>Video Proc Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,videoproc</keywords>
    <repo>https://github.com/skyshore2001/cordova-plugin-videoproc</repo>
    <issue>https://github.com/skyshore2001/cordova-plugin-videoproc/issues</issue>

    <js-module src="www/videoproc.js" name="videoproc">
        <clobbers target="videoproc" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoProc" >
                <param name="android-package" value="com.oliveche.videoproc.VideoProc"/>
            </feature>
        </config-file>

        <source-file src="src/android/VideoProc.java" target-dir="src/com/oliveche/videoproc" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="VideoProc">
                <param name="ios-package" value="CDVVideoProc"/>
            </feature>
        </config-file>

        <header-file src="src/ios/CDVVideoProc.h" />
        <source-file src="src/ios/CDVVideoProc.m" />

<header-file src="src/ios/videoAESDK/ALAssetsLibrary+CustomPhotoAlbum.h" />
<source-file src="src/ios/videoAESDK/ALAssetsLibrary+CustomPhotoAlbum.m" />
<header-file src="src/ios/videoAESDK/AVAssetTrack+Transform.h" />
<source-file src="src/ios/videoAESDK/AVAssetTrack+Transform.m" />
<header-file src="src/ios/videoAESDK/ConfigItem.h" />
<source-file src="src/ios/videoAESDK/ConfigItem.m" />
<source-file src="src/ios/videoAESDK/GLESMath.c" />
<header-file src="src/ios/videoAESDK/GLESMath.h" />
<header-file src="src/ios/videoAESDK/GLModel.h" />
<source-file src="src/ios/videoAESDK/GLModel.m" />
<header-file src="src/ios/videoAESDK/RenderFilter.h" />
<source-file src="src/ios/videoAESDK/RenderFilter.m" />
<header-file src="src/ios/videoAESDK/RSAudioChannel.h" />
<source-file src="src/ios/videoAESDK/RSAudioChannel.mm" />
<header-file src="src/ios/videoAESDK/RSBaseMedia.h" />
<source-file src="src/ios/videoAESDK/RSBaseMedia.m" />
<header-file src="src/ios/videoAESDK/RSChunk.h" />
<source-file src="src/ios/videoAESDK/RSChunk.m" />
<header-file src="src/ios/videoAESDK/RSExportSession.h" />
<source-file src="src/ios/videoAESDK/RSExportSession.m" />
<header-file src="src/ios/videoAESDK/RSGLFilter.h" />
<source-file src="src/ios/videoAESDK/RSGLFilter.m" />
<header-file src="src/ios/videoAESDK/RSGLProgram.h" />
<source-file src="src/ios/videoAESDK/RSGLProgram.m" />
<header-file src="src/ios/videoAESDK/RSMVString.h" />
<source-file src="src/ios/videoAESDK/RSMVString.m" />
<header-file src="src/ios/videoAESDK/RSVideoChannel.h" />
<source-file src="src/ios/videoAESDK/RSVideoChannel.m" />
<header-file src="src/ios/videoAESDK/RSVideoCompositionInstruction.h" />
<source-file src="src/ios/videoAESDK/RSVideoCompositionInstruction.m" />
<header-file src="src/ios/videoAESDK/RSVideoCompositior.h" />
<source-file src="src/ios/videoAESDK/RSVideoCompositior.m" />
<header-file src="src/ios/videoAESDK/Uitiltes.h" />
<source-file src="src/ios/videoAESDK/Uitiltes.m" />
<header-file src="src/ios/videoAESDK/Video_Const.h" />
<header-file src="src/ios/videoAESDK/VideoProc.h" />
<source-file src="src/ios/videoAESDK/VideoProc.m" />
				
    </platform>

    <!-- browser -->
    <platform name="browser">
        <config-file target="config.xml" parent="/*">
            <feature name="VideoProc">
                <param name="browser-package" value="VideoProc" />
            </feature>
        </config-file>

        <js-module src="src/browser/VideoProcProxy.js" name="VideoProcProxy">
            <runs />
        </js-module>
    </platform>
</plugin>
